<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","className":"whc-contact-page","layout":{"type":"constrained"}} -->
<main class="wp-block-group whc-contact-page">

	<!-- wp:group {"align":"wide","className":"whc-hero","layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignwide whc-hero">
		<!-- wp:paragraph {"fontSize":"small"} -->
		<p class="has-small-font-size">CONTACT</p>
		<!-- /wp:paragraph -->
		<!-- wp:shortcode -->
		[whc_contact_form]
		<!-- /wp:shortcode -->
	</div>
	<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"site-footer"} /-->
